# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/project/client/node_modules
/project/server/node_modules
/project/client/.pnp
/project/client.pnp.js

# testing
/project/client/coverage

# production
/project/client/build

# misc
/project/client/.DS_Store
/project/client/.env.local
/project/client/.env.development.local
/project/client/.env.test.local
/project/client/.env.production.local

/project/client/npm-debug.log*
/project/client/yarn-debug.log*
/project/client/yarn-error.log*

.env