.logo{
    width:35px;
    height: 35px;
}

.submenu{
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: max-width 0.2s ease-in;
}

.submenu.active{
    max-height:100%;
}

.search-icon{
    top:50%;
    transform:translateY(-50%);
    left:8px;
}
@media(max-width:768px){
    .sidenav{
        margin-left:-100%;
        transition:margin-left 0.5s ease-in-out;
    }
    
}

.sidenav.active{
    margin-left:0;
}